
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= logo %>
    </div>
    <div class='collapse navbar-collapse' id='myNavbar'>

      <ul class='nav navbar-nav navbar-right' data-hook>
          <li id='link-to-cart' data-hook>
            <noscript>
              <%= link_to_cart %>
            </noscript>
            &nbsp;
          </li>
          <script>Spree.fetch_cart()</script>
      </ul>
      
      <ul class='nav navbar-nav navbar-right' id="main_menu">

        <li id='home-link' data-hook>
          <%= link_to 'HOME', spree.root_path %>
        </li>
        <li id='products-link' data-hook>
          <%= link_to 'PRODUCTS', spree.products_path %>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              DROPDOWN <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li id='sizingchart-link' data-hook>
                <%= link_to 'SIZING CHART', spree.sizingchart_path %>
              </li>
              <li id='contactus-link' data-hook>
                <a href='/contact-us'>CONTACT US</a>
              </li>
              <li id='about-link' data-hook>
                <%= link_to 'ABOUT US', spree.about_path %>
              </li>
              <li id='faqs-link' data-hook>
                <%= link_to 'FAQs', spree.faqs_path %>
              </li>
            </ul>
        </li>
      
        <% if spree_current_user %>
          <li id="link-to-account">
            <%= link_to "ACCOUNT", spree.account_path %>
          </li>
          <li id="link-to-logout">
            <%= link_to spree.logout_path do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              LOG OUT
            <% end %>
          </li>
        <% else %>
          <li id="link-to-login">
            <%= link_to spree.login_path do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              LOG IN
            <% end %>
          </li>
        <% end %>
      
      </ul>
      
    </div>
  </div>
</nav>
